<!DOCTYPE html>
<html>
<head>
	<title>Tweets</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
	<% include navs %>
</body>
</html>